voicechat_smolvlm_2.py
VLM_weights/Llava-Pythia-400M/config.json
VLM_weights/Llava-Pythia-400M/generation_config.json
VLM_weights/Llava-Pythia-400M/model.safetensors
VLM_weights/Llava-Pythia-400M/special_tokens_map.json
VLM_weights/Llava-Pythia-400M/tokenizer_config.json
VLM_weights/Llava-Pythia-400M/tokenizer.json
VLM_weights/Llava-Pythia-400M/trainer_state.json
VLM_weights/Llava-Pythia-400M/training_args.bin
VLM_weights/Llava-Pythia-400M/preprocessor_config.json
datasets/short-MetaWorld/short-MetaWorld/img-only
datasets/short-MetaWorld/short-MetaWorld/r3m-processed

# General rules for large files and data
checkpoints/
datasets/

# Ignore common image formats
*.jpg
*.jpeg
*.png
*.gif

# Ignore generated videos
*.mp4
*.avi
*.mov

# Python cache and logs
__pycache__/
*.log
*.TXT